.peers {
    margin-top: 100px;
    margin: auto;
    width: 50%;
    
    padding-left: 140px;
  }

  .workingunderdetails{
    margin-top: 100px;
    margin: auto;
    width: 50%;
    
    padding-left: 140px;
  }