
 <div class="goabove" *ngIf="GoAboveDisplay()">

  <button class="btn btn-link" routerLink="/dashboard">Back To Dashboard</button>

  <h1>Immediate Manager for {{immediate_manager}}</h1>
  <br><br>


  <div class="workingunderdetails" *ngFor = "let workingunderdetail of WorkingUnderDetails">
    <div class="card" style="width: 26rem;">
              
      <div class="card-body">
        
        <h4 class="card-text">Name: {{workingunderdetail.First_Name}} {{workingunderdetail.Last_Name}}</h4>
      </div>
      <h3>Contact Details:</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{workingunderdetail.Email_id}}</li>
        <li class="list-group-item">{{workingunderdetail.mobile_number}}</li>
        <li class="list-group-item">
          <button class="btn btn-link" (click)="GoAboveChart(working_under)"></button></li>
      </ul>
      
    </div>
  </div>

  <h2>Employees Under {{working_under}}:</h2>
  <br><br>

  <div class="homepage">
      <span class="peers" *ngFor = "let peer of peers">
          <div style="display:inline-block;">
              <div class="card" style="width: 26rem;">
              
                <div class="card-body">
                  <h4 class="card-title">Id : {{peer.Employee_id}}</h4>
                  <h4 class="card-text">Name: {{peer.First_Name}} {{peer.Last_Name}}</h4>
                </div>
                <h3>Contact Details:</h3>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{peer.Email_id}}</li>
                  <li class="list-group-item">{{peer.mobile_number}}</li>
                </ul>
              
              </div>
            </div>  
          </span>
  </div>

</div>

<div class="orgchart">

    <button class="btn btn-link" routerLink="/dashboard">Back To Dashboard</button>

    <h1>Immediate Manager :  {{working_under}}</h1>
    <br><br>


    <div class="workingunderdetails" *ngFor = "let workingunderdetail of WorkingUnderDetails">
      <div class="card" style="width: 26rem;">
                
        <div class="card-body">
          
          <h4 class="card-text">Name: {{workingunderdetail.First_Name}} {{workingunderdetail.Last_Name}}</h4>
        </div>
        <h3>Contact Details:</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{workingunderdetail.Email_id}}</li>
          <li class="list-group-item">{{workingunderdetail.mobile_number}}</li>
          <li class="list-group-item">
            <button class="btn btn-link" (click)="GoAboveChart(working_under)" >View above</button></li>
        </ul>
        
      </div>
    </div>

    <h2>Employees Under {{working_under}}:</h2>
    <br><br>

    <span class="homepage">
        <span class="peers" *ngFor = "let peer of peers" >
          <span class="greyed-out">
            <div style="display:inline-block;">
                <div class="card" style="width: 26rem;">
                
                  <div class="card-body" >
                    
                    <h4 class="card-title">Id : {{peer.Employee_id}}</h4>
                    <h4 class="card-text">Name: {{peer.First_Name}} {{peer.Last_Name}}</h4>
                  </div>
                  <h3>Contact Details:</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{peer.Email_id}}</li>
                    <li class="list-group-item">{{peer.mobile_number}}</li>
                  </ul>
                
                </div>
              </div>
            </span>  
        </span>
        <!-- <span class="notpeers" *ngFor = "let peer of peers" >
          <span *ngIf ="peer.Employee_id == EmployeeIdForOrgChart" class="greyed-out">
            <div style="display:inline-block;">
                <div class="card" style="width: 26rem;">
                
                  <div class="card-body" >
                    
                    <h4 class="card-title">Id : {{peer.Employee_id}}</h4>
                    <h4 class="card-text">Name: {{peer.First_Name}} {{peer.Last_Name}}</h4>
                  </div>
                  <h3>Contact Details:</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{peer.Email_id}}</li>
                    <li class="list-group-item">{{peer.mobile_number}}</li>
                  </ul>
                
                </div>
              </div>
            </span>  
        </span> -->
      </span>
&nbsp;
   
    

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


