<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/homepage">EMS Portal</a>
    </div>
    <ul class="nav navbar-nav">      
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
    </ul>
  </div>
</nav>

<div class="loginform"><br><br>
  <h1>&nbsp;&nbsp;EMS Portal Login</h1>
  <form novalidate
  (ngSubmit)="save(signupForm)"
  #signupForm="ngForm">

<label>Employee ID</label>      
<div class="form-group">
<input type="employeeid" [(ngModel)]="login.Employee_Id" name="employeeid" class="form-control" required #employeeid="ngModel" pattern="^[0-9]*$" />

<div *ngIf=" employeeid.invalid && (employeeid.dirty || employeeid.touched)" class="alert alert-danger">
 <div *ngIf="employeeid.errors.required"> employeeid is required. </div>
 <div *ngIf="employeeid.errors.pattern">Enter employeeid in correct format</div>
</div>
</div>

<label>Password:</label>
<div class="form-group">
    <input type="password" [(ngModel)]="login.Password" name="password"  class="form-control" required #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
    
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
      <div *ngIf="password.errors.required"> Password is required. </div>
      <div *ngIf="password.errors.pattern"> Enter Correct Password.</div>
    </div>
   </div>
   <p>{{Role}}</p>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <button type="button" [disabled]="!signupForm.valid" class="btn btn-primary" (click)=" Login()">Login </button> 
</form>
           
</div>




