<p>login works!</p>

<div class="loginform">
  <label>Employee ID</label>&nbsp; 
  <input type="text"  [(ngModel)]="login.Employee_Id" >  <br><br>
  <label>Password</label>  &nbsp;   &nbsp; &nbsp;        
  <input type="password"  [(ngModel)]="login.Password"  >   <br>  <br>       
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-primary" (click)=" Login()">Login </button>            
           
</div>
<p>{{Role}}</p>
<!-- <div class="panel-body" *ngFor="let userpro of Role">
    {{userpro.Role}}
</div> -->

