<div class="panel-body" *ngFor="let userpro of userprofile">
   {{userpro.Employee_id}}
</div>

<div class="card" style="width: 55rem;" >
  
    <div class="card-body" *ngFor="let userpro of userprofile">
    <h1 class="card-title">Welcome {{userpro.First_name}}</h1>
    <h3 class="card-text">Your UserProfile</h3>
    
    </div>
    
    <div class="panel panel-default" >
      <div class="panel-body" *ngFor="let userpro of userprofile">
          <h1 class="welcome"></h1>
          <h3 class="details">
            <table class="table">
              
              <tbody>
                <tr>
                  <th scope="row">Employee Id:</th>
                  <td> {{userpro.Employee_id}} </td> 
                               
                </tr>
                <tr>
                  <th scope="row">Name:</th>
                  <td>{{userpro.First_Name}} {{userpro.Last_Name}}</td>               
                </tr>
               
                <tr>
                  <th scope="row">Role: </th>
                  <td> {{userpro.Role}}</td>               
                </tr>
                <tr>
                    <th scope="row">Age: </th>
                    <td> {{userpro.Age}}</td>               
                  </tr>
                  <tr>
                    <th scope="row">Gender: </th>
                    <td> {{userpro.Gender}}</td>               
                  </tr>
                  <tr>
                    <th scope="row">Date Of Birth: </th>
                    <td> {{userpro.DOB | date}}</td>               
                  </tr>
                <tr>
                  <th scope="row">Email id:</th>
                  <td>{{userpro.Email_id}}</td>               
                </tr>
                <tr>
                  <th scope="row">Address:</th>
                  <td>{{userpro.Address}}</td>               
                </tr>
                <tr>
                  <th scope="row">City:</th>
                  <td>{{userpro.City}}</td>               
                </tr>
                <tr>
                  <th scope="row">State: </th>
                  <td>{{userpro.State}}</td>               
                </tr>
                <tr>
                  <th scope="row">Pincode</th>
                  <td>{{userpro.Pincode}}</td>               
                </tr>
                <tr>
                  <th scope="row">Department Name:</th>
                  <td>{{userpro.Department_name}}</td>               
                </tr>
                <tr>
                  <th scope="row">Unit Name:</th>
                  <td> {{userpro.Unit_name}}</td>               
                </tr>
              </tbody>
            </table>
          
          <br/>
        </h3>
        <!-- <button type="button" class="btn btn-primary" (click)="ShowFormGroup()">Edit Details</button> -->
    </div>
    
  </div>
    <!-- <div class="form-group" *ngIf="formGroup">
      <mat-divider></mat-divider>
      <br/>
      <table class="table">
      
        <tbody>
          <tr>
            <th scope="row">Edit EmailId:</th>
            <td><input type="text" [(ngModel)]="tblcustomer.email_id" >
              {{tblcustomer.email_id}} {{tblcustomer.email_id}}
              <button type="button" class="btn btn-primary" (click)="EditEmailDetails()">Edit </button>
            </td>
            
          </tr>
          <tr>
            <th scope="row">Edit Mobile Number:</th>
            <td> <input type="text" [(ngModel)]="tblcustomer.mobile_number">
              {{tblcustomer.mobile_number}}
              <button type="button" class="btn btn-primary" (click)="EditMobileNumberDetails()">Edit </button>
            </td>
            
          </tr>
          <tr>
            <th scope="row">Edit Residential Address:</th>
            <td><input type="text" [(ngModel)]="tblcustomer.Residential_address">
              {{tblcustomer.mobile_number}}
              <button type="button" class="btn btn-primary" (click)="EditResidentialAddressDetails()">Edit</button>
            </td>
            
          </tr>
          <tr>
            <th scope="row">Edit Permanent Address:</th>
            <td><input type="text" [(ngModel)]="tblcustomer.permanent_address">
              {{tblcustomer.permanent_address}}
              <button type="button" class="btn btn-primary" (click)="EditPermanentAddressDetails()">Edit</button>
            </td>
            
          </tr>
          <tr>
            <th scope="row">Edit Occupation:</th>
            <td><input type="text" [(ngModel)]="tblcustomer.occupation_Type">
              {{tblcustomer.permanent_address}}
              <button type="button" class="btn btn-primary" (click)=" EditOccupationTypeDetails()">Edit </button>
            </td>
            
          </tr>
  
          
        </tbody>
      </table>
    
     
      
    </div> -->
  </div>
    
   
  