<p>admindashboard works!</p>

<!-- <div class="panel-body" *ngFor="let userpro of admindashboard_details">
  {{userpro.Employee_id}}
</div> -->



<div class="employeelist" *ngFor="let userpro of admindashboard_details">
  <div class="card">
    <h3 class="card-header">Employee id: {{userpro.Employee_id}}</h3>
    <div class="card-body">
      <h3 class="card-title">{{userpro.First_Name}} {{userpro.Last_Name}}</h3>
      <h4 class="card-text">Role: {{userpro.Role}} </h4>
      
      <button class="btn btn-primary" (click)="ShowViewDetails(userpro.Employee_id)">View Details</button>&nbsp;&nbsp;
      <button class="btn btn-primary" (click)="ShowViewDetails(userpro.Employee_id)">Update Details</button>&nbsp;&nbsp;
      <button class="btn btn-primary">Delete Employee</button>&nbsp;&nbsp;
    </div>
  </div>
</div>

