<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/homepage">EMS Portal</a>
      </div>
      <ul class="nav navbar-nav">      
        <li><a routerLink="/homepage">Home</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
      </ul>
    </div>
  </nav>
<div class="homepage">
    
<h1 class="welcome">Welcome to EMS Portal. <br><br><br>Click on 
    <button type="button" class="btn btn-primary" (click)=" Login()">Login </button>  or
    <button type="button" class="btn btn-primary" (click)=" Register()">Register </button>  </h1>
</div>

<div class="footer">
    <p>All Rights Reserved</p>
  </div>




