<!-- First name field -->
<div class="registerform">
  <form novalidate
    (ngSubmit)="save(signupForm)"
    #signupForm="ngForm">
<label>First Name:</label>
<input  name="firstname" class="form-control"
    required minlength="2" 
    [(ngModel)]="register.First_Name" #fname="ngModel" required >
      
  <div *ngIf="fname.invalid && (fname.dirty || fname.touched)"
      class="alert alert-danger">

      <div *ngIf="fname.errors.required">
          Name is required.
      </div>
      <div *ngIf="fname.errors.minlength">
          Name must be at least 2 characters long.
      </div>

  </div>
  <!-- LAst name field  -->

  <label>Last Name:</label>
<input name="lastname" class="form-control"
    required minlength="2" 
    [(ngModel)]="register.Last_Name" #lname="ngModel" >

  <div *ngIf="lname.invalid && (lname.dirty || lname.touched)"
      class="alert alert-danger">

      <div *ngIf="lname.errors.required">
          Name is required.
      </div>
      <div *ngIf="lname.errors.minlength">
          Last Name must be at least 2 characters long.
      </div>

  </div>

  <!-- Password Field -->
<label>Password:</label>
  <div class="form-group">
      <input type="password" [(ngModel)]="register.Password" name="password" placeholder=" Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control" required #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
      
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors.required"> Password is required. </div>
        <div *ngIf="password.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</div>
      </div>
     </div>
<label>Confirm Password</label>      
     <div class="form-group">
      <input type="password" [(ngModel)]="register.Confirm_Password" name="confirmpassword" placeholder="Password & Confirm Password should match." class="form-control" required #confirmpassword="ngModel" pattern="{{ password.value }}" />
      <div *ngIf=" confirmpassword.invalid && (password.dirty || confirmpassword.touched)" class="alert alert-danger">
        <div *ngIf="confirmpassword.errors.required"> Confirm password is required. </div>
        <div *ngIf="confirmpassword.errors.pattern"> Password & Confirm Password does not match.</div>
      </div>
     </div>

     <!-- Age Field-->

     <label>Age</label>
     <input id="age" name="age" class="form-control"
           
           [(ngModel)]="register.Age" #age="ngModel" min="18" max="56">
     
         <div *ngIf="age.invalid && (age.dirty || age.touched)"
             class="alert alert-danger">
     
             <div *ngIf="age.errors.required">
                 Age is required.
             </div>
             <div *ngIf="age.errors.min">
              Age is required.
          </div>
     
         </div>
         <br>
      <!--GEdner-->
         <label>Gender: </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="gender" value="Male"  [(ngModel)]="register.Gender" > Male<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="gender" value="Female"  [(ngModel)]="register.Gender" > Female<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="gender" value="other"  [(ngModel)]="register.Gender" > Other     
         <br>
         <br>
      <!---DOB-->
      <label>Date Of Birth: </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;<input type="date" name="date" [(ngModel)]="register.DOB"  >  
      <br><br>
      <!----EmailID Field-->

      <label>Email ID</label>      
      <div class="form-group">
       <input type="emailid" [(ngModel)]="register.Email_id" name="emailid" placeholder="" class="form-control" required #emailid="ngModel" pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" />
      
       <div *ngIf=" emailid.invalid && (emailid.dirty || emailid.touched)" class="alert alert-danger">
         <div *ngIf="emailid.errors.required"> Emailid is required. </div>
         <div *ngIf="emailid.errors.pattern">Enter EmailId in correct format</div>
       </div>
      </div>

      <!----Mobile Number-->

      <label>Mobile Number</label>      
      <div class="form-group">
       <input type="mobilenumber" [(ngModel)]="register.mobile_number" name="mobilenumber" placeholder="" class="form-control" required #mobilenumber="ngModel" pattern="[6789][0-9]{9}" />
       
       <div *ngIf=" mobilenumber.invalid && (mobilenumber.dirty || mobilenumber.touched)" class="alert alert-danger">
         <div *ngIf="mobilenumber.errors.required"> Mobile Number is required. </div>
         <div *ngIf="mobilenumber.errors.pattern">Enter Mobile Number in correct format</div>
       </div>
      </div>

      <!-- Address Field -->

      <label>Address</label>      
      <div class="form-group">
       <input type="address" [(ngModel)]="register.Address" name="address" placeholder="" class="form-control" required #address="ngModel" pattern="^[A-Za-z0-9, -]*$" />
      
       <div *ngIf=" address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
         <div *ngIf="address.errors.required"> Address is required. </div>
         <div *ngIf="address.errors.pattern">Enter Address in correct format</div>
       </div>
      </div>

      <!---City Field-->

      <label>City</label>      
      <div class="form-group">
       <input type="city" [(ngModel)]="register.City" name="city" placeholder="" class="form-control" required #city="ngModel" pattern="^[A-Za-z]*$" />
     
       <div *ngIf=" city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
         <div *ngIf="city.errors.required"> City is required. </div>
         <div *ngIf="city.errors.pattern">Enter City in correct format</div>
       </div>
      </div>

      <!-----State-->

      <label>State</label>      
      <div class="form-group">
       <input type="state" [(ngModel)]="register.State" name="state" placeholder="" class="form-control" required #state="ngModel" pattern="^[A-Za-z ]*$" />
      
       <div *ngIf=" state.invalid && (state.dirty || state.touched)" class="alert alert-danger">
         <div *ngIf="state.errors.required"> State is required. </div>
         <div *ngIf="state.errors.pattern">Enter State in correct format</div>
       </div>
      </div>

      <!------Pincode Field-->

      <label>Pincode</label>      
      <div class="form-group">
       <input type="pincode" [(ngModel)]="register.Pincode" name="pincode" placeholder="" class="form-control" required #pincode="ngModel" pattern="^[0-9]*$" />
      
       <div *ngIf=" pincode.invalid && (pincode.dirty || pincode.touched)" class="alert alert-danger">
         <div *ngIf="pincode.errors.required"> pincode is required. </div>
         <div *ngIf="pincode.errors.pattern">Enter pincode in correct format</div>
       </div>
      </div>

      <button type="submit" class="btn btn-primary" (click)= "Register()" data-toggle="modal" data-target="#exampleModal" [disabled]="!signupForm.valid" >Register </button> 
      </form>
 
  </div>

  



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Registered Successfully!!</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Your Employee Id is {{referenceid}}. Use this along with your password to login to the portal
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  